/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
}

/* Add your CSS styles here */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px auto 5px auto; /* Center the input horizontally and add margin */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Change to block to position below the textarea */
  margin: 0px auto 0; /* Center horizontally and add margin on top */
}


button[type="submit"]:hover {
  background-color: #45a049;
}

.comment-count {
  position: absolute;
  top: 7.10px;
  margin-left: 72px;
  background-color: #f0f0f000;
  padding: 5px 10px;
  border-radius: 4px;
}

.comments-container {
  display: none;
  margin-top: 20px;
}

.comments-container.active {
  display: block;
}

.comment img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow flex items to wrap */
  max-width: 100%; /* Ensure comments don't overflow from the body */
}

.comment p {
  margin: 0;
  padding: 5px;
  word-break: break-all; /* Break words when necessary */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Styles for the foldable container */
.foldable-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 80%;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
 
}

/* Styles for the foldable container when folded */
.foldable-container.folded {
  max-height: 60px; /* Height when folded */
}

/* Styles for the foldable content */
.foldable-content {
  max-height: 400px; /* Initial height */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* Styles for labels */
.foldable-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

/* Styles for input fields and select */
.foldable-container input[type="text"],
.foldable-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for the update button */
.foldable-container #updateUserInfo {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 96%;
  display: block;
  margin-top: 10px;
  
}

/* Hover effect for the update button */
.foldable-container #updateUserInfo:hover {
  background-color: #45a049;
}

/* Styles for the Google sign-in button */
#googleSignInButton {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover effect for the Google sign-in button */
#googleSignInButton:hover {
  background-color: #357ae8;
}
