body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  pre {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  code {
    display: block;
    white-space: pre-wrap;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input,
  textarea {
    width: 100%;
    height: 0px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .u {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .w {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    right: 0px;
    cursor: pointer;
    position: fixed;
  }
  
  .alert {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none;
  }
  